Source: zimbra-ldap
Section: mail
Priority: optional
Build-Depends: debhelper (>=9), ant, ant-contrib, zimbra-common-core-dev,
 zimbra-common-core-libs, git, zimbra-common-mbox-conf-attrs
Standards-Version: 3.9.6
Maintainer: Enrico Weigelt, metux IT consult <info@metux.net>
Uploaders: Enrico Weigelt, metux IT consult <info@metux.net>

Package: zimbra-ldap
Section: mail
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zimbra-base,
  zimbra-lmdb (>= 2.4.46-1zimbra8.7b3ZAPPEND),
  zimbra-openldap-server (>= 2.4.46-1zimbra8.7b3ZAPPEND),
  zimbra-openldap-client, uuid
Description: LibreZimbra LDAP server
